<h4>Editing user: <%= @user[:name] %></h4>

<form action="/users/<%= @user[:id] %>" method="post">
  <input type="hidden" name="_method" value="put">
  <!-- 1st row -->
  <div class="row">
    <div class="two columns">
      <label for="name">New username:</label>
      <input id="name" type="text" name="user[name]" value="<%= @user[:name] %>">
    </div>

    <div class="two columns">
      <label for="password">New password:</label>
      <input id="password" type="password" name="user[password]" placeholder="Enter if any changes">
    </div>

    <div class="three columns">
        <label for="email">New email address:</label>
        <input id="email" class="u-full-width" type="email" name="user[email]" value="<%= @user[:email] %>">
    </div>
  </div>
  <!-- 2nd row -->
  <div class="row">
    <div class="seven columns">
      <label for="address">New address:</label>
      <textarea id="address" class="u-full-width" name="user[address]">
        <%= @user[:address] %>
      </textarea>
    </div>
  </div>

  <input type="submit" class="button-primary" value="Update">

</form>
