<!-- All users page -->
<h4>All Users List</h4>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user[:id] %>
      </td>
      <td>
        <%= user[:name] %>
      </td>
      <td>
        <%= user[:email] %>
      </td>
      <td>
        <%= user[:address] %>
      </td>
      <td>
        <!-- View & Edit  -->
        <a href="users/<%= user[:id] %>"> View </a> |
        <a href="users/<%= user[:id] %>/edit"> Edit </a>
        <!-- Delete -->
        <form action="/users/<%= user[:id] %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input id="button-delete" type="submit" value="Delete">
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
