<!-- All users page -->
<h2>All Users List</h2>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user[:id] %>
      </td>
      <td>
        <%= user[:name] %>
      </td>
      <td>
        <%= user[:email] %>
      </td>
      <td>
        <%= user[:address] %>
      </td>
      <td>
        <a href="users/<%= user[:id] %>"> View </a> |

        <form action="/users/<%= user[:id] %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
